body{
    background-color: black;
    padding: 17px 60px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
}
.logo{

}

.s{
    font-size: 22px;
    color:red;
}
.i{
    font-size: 22px;
    color:yellow;
}
.l{
    font-size: 22px;
    color:blue
}
.o{
    font-size: 22px;
    color:orangered
}
.a{
    font-size: 22px;
    color:red;
}
.m{
    font-size: 22px;
    /* font-weight: 500; */
    color:red;
}

ul>li{
    list-style-type:none;    
}
a{
    text-decoration: none;
    color: goldenrod;
    font-size: 14px;
}
p{
    font-size: 14px;
}
header{
    display: flex; 
    align-items: center;
    justify-content: space-between;
}
.menu>ul{
    display: flex;
    align-items: center;
    gap: 50px
    /* justify-content: space-between; */
    
}
nav{
    ga;

}
.reg{
    height: 20px;
    width: 100px;
    border:none;
    border-radius: 12px;
    color: white;
    background-color:rgb(106, 62, 5);
}
/* =====================main styling=============================== */
                        /* section1 */
.event_info{
    display: flex;
}

.info>h1{
    /* color: goldenrod; */
}
.info{
    width: 580px;
}
.sub-info>input{
    width: 200px;
}
.subscribe{
    border-radius: 7px;
    border: none;  
    height: 29px;
    font-weight: 700;  
    color:rgb(230, 65, 18) ;
}

.home_img>img{
    width: 370px;
    height: 320px;
    border-radius: 400px;
}
.event-details{
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
    /* padding: 0px; */
}
.event_detail{
    background-color:rgb(17, 16, 16);
    padding-left: 30px;
    padding-right: 30px;
    width: 500px; 
    border-radius: 10px;
    padding-top: 1px;
}
.event-details>h3{
    color: goldenrod;
}
.bookings{
  width: 500px;
  height: 600px;  
  font- size: 14px;
}

.form{
    background-image: url("assets/imgs/form_bg-img.jpg");
    width: 500px;
  height: 600px;  
  border-color: white;

}
.labels{

}
.labels>input{
    width: 200px;
}

.register-btn{
    width: 90px ;
    height: 30px;
    color: white ;
    background: rgb(144, 104, 2);
    font-weight: 600;
    border-radius: 7px;
}

/* =====================footer section======================== */
footer{
    /* display: grid; */
    
}

.footer_socials{
    display: flex;
}