body{
    padding: 0px;
    margin: 0px;
}
.profileDashBoard{
    margin-left: 30px;
    
}
.containDashBoard{
    /* background-color: red; */
    /* border: 1px solid gold; */
    box-shadow: 1px 1px 10px rgb(222, 221, 221), 1px 1px 10px  rgb(222, 221, 221) ;
    height: 300px;
    background-color: rgb(255, 255, 255);
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: grid;
    width: 45.9Vw;
    height: 15Vh;
    margin-top: 30px;
    /* justify-content: center; */
    margin-left: 60px;
    grid-template-columns: 300px 200px;
    /* grid-template-columns: repeat(auto-fit,minmax(510px,150px)); */

}

.containDashBoard h2 {
    color: black;
    margin-bottom:-10px ;
}
.fa-user-circle{
   font-size: 60px;
   margin-top: 15px;
   margin-left: 90px;
 color: rgb(182, 161, 1);
   
}
.menus{
    display: grid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(75, 75, 75);
    width: 20Vw;
    margin-left: 30px;
    grid-template-columns: 200px 100px;
    padding: 20px;
    box-shadow: 1px 1px 10px rgb(231, 229, 229), 1px 1px 10px  rgb(247, 247, 247) ;

}
.menus p {
    font-size: 13px;
}
.menus h3{
    color: rgb(87, 86, 86);
}
.menus i {
    margin-top: 22px;
}
.containMenu{
    display: grid;
    margin-left: 30px;
    margin-top: 60px;
    grid-template-columns: 300px 300px;
    grid-gap: 30px;
    
}
.container{
    display: grid;
    grid-template-columns: 750px 400px;
}
.sideOptions{
    /* background-color: red; */
    padding-top: 30px;
}
.settings{
   
    width: 25Vw;
    padding-left: 30px;

    padding-top: 20px;
    margin-left: 30px;
    height: 280px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 10px rgb(231, 229, 229), 1px 1px 10px  rgb(247, 247, 247) ;

}
.menusSide{
    display: grid;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 26Vw;
    margin-left: 30;
    padding-left: 30px;
    height: 25Vh;
    margin-top: 10px;
    margin-top: 70px;
    grid-template-columns: 200px 100px;
    box-shadow: 1px 1px 10px rgb(231, 229, 229), 1px 1px 10px  rgb(247, 247, 247) ;


}
.menusSide i {
    margin-top: 22px;
}
.fa-long-arrow-right{
    color: rgb(182, 161, 1);
}
.styletextCard{
    color: rgb(182, 161, 1);
}

.SettingsMenu{
    margin-top: -60px;
    margin-left: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.fa-cog{
    font-size: 35px;
    
}
.cog1{
    color: black;
   
}

.cog2{
    color: rgb(207, 176, 5);
    font-size: 50px;
    margin-top: 10px;
    margin-right: 9px;

}
.cog3{
    color: rgb(207, 176, 5);
    margin-left: 30px;
    margin-top: 2px;
    margin-bottom: 10px;
   
}
.cog4{
    font-size: 50;
    color: black;

}

.settingsBar1{
    text-align: end;
    margin-right: 30;
}
.fa-arrow-circle-right{
    font-size: 30px;
    color: rgb(219, 187, 9);
    margin-left: 20px;
    margin-top: 30px;
}
.ViewMore{
    margin-top: 20px;
    margin-left: 40px;
}
.ViewMore p{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}