{% extends "base.html" %} {% load static %} {% block main %}
<link rel="stylesheet" href="{% static 'user/form.css' %}">
<style>
    nav {
        padding-top: 2rem;
        padding-bottom: 0;
    }
    
    header {
        background: black;
    }
    
    body {
        background-color: black;
        color: white;
    }
</style>
<div class="formContainer">
    <div class="SignUpContainer">
        <div class="formMenu">
            <a href="#signup" class="btnCreateAccount">Sign Up</a>

            <a href="#signin" class="btnLOgIN active">Sign In</a>
            <div>
            </div>


        </div>
        
        {% if messages %}
        {% for message in messages %}
        <div class="mt-3 alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
        <form method="post" action="{% url 'register' %}" class="SignUpFormInput hid">
            <div class="textForm">
                <h2>Create a Layers Of Truth Account</h2>
            </div>
            {% csrf_token %}
            <div> <input type="text" placeholder="Username" name="username" class="FromControl">{{form.username.errors}}</div>

            <div class="formSplit">
                <div> <input type="text" placeholder=" First Name" name="first_name" class="FromControl1">{{form.first_name.errors}}</div>
                <div> <input type="text" placeholder="Last Name" name="last_name" class="FromControl1">{{form.last_name.errors}}</div>
            </div>

            <div> <input type="text" placeholder="Email Address" name="email" class="FromControl">{{form.email.errors}}</div>
            <div class="formSplit">
                <div> <input type="text" placeholder="Phone (e.g +9999999)" name="phone" class="FromControl1">{{form.phone.errors}}</div>
                <div> <select class="FromControl1" name="gender" id="">
                    <option class="optionControl" value="">Gender</option>
                    <option class="optionControl" value="Male">Male</option>
                    <option class="optionControl" value="Female">Female</option>
                
                </select>{{form.gender.errors}}</div>

            </div>
            <div> </div>
            <div> <input type="password" name="password1" placeholder="Set A Password" class="FromControl">{{form.password1.errors}}</div>
            <div> <input type="password" name="password2" placeholder="Confirm Password" class="FromControl">{{form.password2.errors}}</div>

            <div class="btn-submitAccount"><button type="submit" class="btnCreateAccount active"> Create Account</button></div>

        </form>

        <form method="post" action="{% url 'login' %}" class="LogInContaine">
            <div class="textForm">
                <h2> Log into Account</h2>
            </div>

            {% csrf_token %}
            <div> <input type="text" name="username" placeholder=" User Name" class="FromControl">{{form.username.errors}}</div>
            <div> <input type="password" name="password" placeholder="password" class="FromControl">{{form.password.errors}}</div>
            <div class="btn-LogInAccount"><button type="submit" class="btnLOgIN2 active"> LogIn</button></div>


        </form>
    </div>


</div>

<script>
    const SignUpContainer = document.querySelector('.SignUpContainer');
    const btnCreateAccount = document.querySelector('.btnCreateAccount');
    const btnLOgIN = document.querySelector('.btnLOgIN');
    const LogInContaine = document.querySelector('.LogInContaine');
    const SignUpFormInput = document.querySelector('.SignUpFormInput');
    const btnsubmitAccount = document.querySelector('.btn-submitAccount');



    btnLOgIN.addEventListener('click', function() {
        // SignUpContainer.classList.add('hid')
        LogInContaine.classList.remove('hid');
        SignUpFormInput.classList.add('hid');
        btnsubmitAccount.classList.add('hid');
        btnCreateAccount.classList.remove('active')
        SignUpFormInput.style.opacity = 0;



        let opacity = 0;
        // Set an interval to increase the opacity every 100ms
        const intervalId = setInterval(function() {
            opacity += 0.1;
            LogInContaine.style.opacity = opacity;
            if (opacity >= 1) {
                // Stop the interval once the element is fully opaque
                clearInterval(intervalId);
            }
        }, 80);








        btnLOgIN.classList.add('active')
        btnsubmitAccount.classList.remove('btn-submitAccount')


    })
    btnCreateAccount.addEventListener('click', function() {

        LogInContaine.style.opacity = 0;


        let opacity = 0;
        // Set an interval to increase the opacity every 100ms
        const intervalId = setInterval(function() {
            opacity += 0.1;
            SignUpFormInput.style.opacity = opacity;
            if (opacity >= 1) {
                // Stop the interval once the element is fully opaque
                clearInterval(intervalId);
            }
        }, 80);






        LogInContaine.classList.add('hid');
        SignUpFormInput.classList.remove('hid');
        btnsubmitAccount.classList.remove('hid');
        btnCreateAccount.classList.add('active')
        btnLOgIN.classList.remove('active')
        btnsubmitAccount.classList.add('btn-submitAccount')


    })
</script>
{% endblock main %}